/out/
/FitSDKRelease_20.78.00/
/build/
2018-11-21-17-42-44.fit
djungle.fit
FITView.cfg
settings.gradle
test.fit
/kit/
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/4.4/taskHistory/taskHistory.lock
.gradle/4.4/taskHistory/taskHistory.bin
.gradle/4.4/fileHashes/resourceHashesCache.bin
.gradle/4.4/fileHashes/fileHashes.lock
.gradle/4.4/fileHashes/fileHashes.bin
.gradle/4.4/fileContent/fileContent.lock
.gradle/4.4/fileContent/annotation-processors.bin
.gradle/4.4/fileChanges/last-build.bin
